<article class="post-entry">
  <header class="post-header">
      <script src="{{ "/js/jalali.min.js" | relURL }}" type="text/javascript" charset="utf-8"></script>
    <h3 class="post-title"><a href="{{ .Permalink }}" class="post-link">{{ .Title }}</a></h3>
    <p class="post-meta">
      <!-- Show Author in list of Posts -->
      @{{ if isset .Params "author" }}
        {{ .Params.author }}
      {{ else }}
        {{ .Site.Params.author }}
      {{ end }}       
      
      <!-- Show Date in list of Posts -->
      · {{if eq .Site.Params.lang "en"}}
          {{ .Date.Format "Jan 2, 2006" }}
        {{ else }}        
        <span class="post_date">{{ .Date.Format "2006-01-02" }}</span>
        
        {{end}}
      </p>
  </header>
  {{ if isset .Params "cover" }}
    <img class="post-cover" src="{{ .Params.cover }}" alt="{{ .Title }}">
  {{ end }}
  <p class="post-summary">{{ .Summary | plainify | htmlUnescape }}</p>
  <footer class="post-footer">
    <a class="read-more" href="{{ .Permalink }}">{{ T "readmore" }}</a>
  </footer>
</article>
