/* Google fonts Lobster */
@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/lobster.eot');
  src:
    url('../fonts/lobster.woff2') format('woff2'),
    url('../fonts/lobster.woff') format('woff'),
    url('../fonts/lobster.ttf') format('truetype'),
    url('../fonts/lobster.svg#lobster') format('svg'),
    url('../fonts/lobster.eot?#iefix') format('embedded-opentype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* Vazir fonts for persian style */
@font-face {
  font-family: 'Vazir';
  src: url('../fonts/Vazir.eot');
  src: url('../fonts/Vazir.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Vazir.woff2') format('woff2'),
       url('../fonts/Vazir.woff') format('woff'),
       url('../fonts/Vazir.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Vazir';
  src: url('../fonts/Vazir-Bold.eot');
  src: url('../fonts/Vazir-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Vazir-Bold.woff2') format('woff2'),
       url('../fonts/Vazir-Bold.woff') format('woff'),
       url('../fonts/Vazir-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'Vazir';
  src: url('../fonts/Vazir-Light.eot');
  src: url('../fonts/Vazir-Light.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Vazir-Light.woff2') format('woff2'),
       url('../fonts/Vazir-Light.woff') format('woff'),
       url('../fonts/Vazir-Light.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'Vazir';
  src: url('../fonts/Vazir-Medium.eot');
  src: url('../fonts/Vazir-Medium.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Vazir-Medium.woff2') format('woff2'),
       url('../fonts/Vazir-Medium.woff') format('woff'),
       url('../fonts/Vazir-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Vazir';
  src: url('../fonts/Vazir-Thin.eot');
  src: url('../fonts/Vazir-Thin.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Vazir-Thin.woff2') format('woff2'),
       url('../fonts/Vazir-Thin.woff') format('woff'),
       url('../fonts/Vazir-Thin.ttf') format('truetype');
  font-weight: 100;
}


/* Colors */
$black: rgb(10, 10, 10);
$black-bis: rgb(18, 18, 18);
$black-ter: rgb(36, 36, 36);
$grey-darker: rgb(54, 54, 54);
$grey-dark: rgb(74, 74, 74);
$grey: rgb(121, 121, 121);
$grey-light: rgb(181, 181, 181);
$grey-lighter: rgb(219, 219, 219);
$white-ter: rgb(244, 243, 241);
$white-bis: rgb(250, 250, 250);
$white: rgb(255, 255, 255);
$green: rgb(255, 76, 0);
$green-light: rgba(70, 185, 128, 0.5);
$green-invert: findcolorinvert($green);

/* Theme colors */
$primary: $green;
$primary-invert: $green-invert;
$light: $white-ter;
$dark: $grey-darker;
$background: $white-ter;
$code-background: rgb(246, 248, 250);
$main-background: $white;

/* Text colors */
$text: $grey-dark;
$text-invert: findcolorinvert($text);
$text-light: $grey;
$text-strong: $grey-darker;

/* Border colors */
$border: $grey-lighter;
$border-hover: $grey-light;
$main-border: rgba(0, 0, 0, 0.09);
$media-border: $white;

/* Box shadow colors */
$box-shadow: rgba(0, 0, 0, 0.04);
$box-shadow-dark: rgba(0, 0, 0, 0.15);
$box-shadow-darker: rgba(0, 0, 0, 0.3);

/* Background images */
$background-image: url('../img/grey-prism.svg');

/* Typography */
$family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", "Helvetica Neue", sans-serif;
$family-monospace: "SFMono-Regular", "Liberation Mono", "Roboto Mono", Menlo, Monaco, Consolas, "Courier New", Courier, monospace;
$family-lobster: "Lobster", $family-sans-serif;
$family-vazir: "Vazir", $family-sans-serif;
$size-1: 3rem;
$size-2: 2.5rem;
$size-3: 2rem;
$size-4: 1.5rem;
$size-5: 1.25rem;
$size-6: 1rem;
$size-7: 0.8rem;
$size-8: 0.9rem;
$weight-light: 300;
$weight-normal: 400;
$weight-semibold: 500;
$weight-bold: 700;

/* Radius */
$radius-small: 2px;
$radius: 3px;
$radius-large: 5px;

/* Responsiveness */
$phone: 640px;
$tablet: 800px; // Response to mobile layout
$desktop: 960px;
$widescreen: 1440px;
$min-height: 768px; // Hide social-menu

/* Icons */
$icon-douban: "\e900";
$icon-bilibili: "\e901";
$icon-zhihu: "\e902";
$icon-close: "\f00d";
$icon-facebook: "\f082";
$icon-twitter: "\f099";
$icon-github: "\f09b";
$icon-rss: "\f09e";
$icon-menu: "\f0c9";
$icon-pinterest: "\f0d2";
$icon-up: "\f0d8";
$icon-email: "\f0e0";
$icon-linkedin: "\f0e1";
$icon-youtube: "\f16a";
$icon-instagram: "\f16d";
$icon-dribbble: "\f17d";
$icon-weibo: "\f18a";
$icon-vimeo: "\f194";
$icon-google: "\f1a0";
$icon-behance: "\f1b4";
$icon-codepen: "\f1cb";
$icon-jsfiddle: "\f1cc";
$icon-wechat: "\f1d7";
$icon-medium: "\f23a";
$icon-comment: "\f27a";
$icon-quora: "\f2c4";

/* Miscellaneous */
$easing: ease-out;
$speed: 0.5s;
