{{ define "title" }}
  {{ .Title }} | {{ if isset .Site.Params "seotitle" }}{{ .Site.Params.seotitle }}{{ else }}{{ .Site.Title }}{{ end }}
{{ end }}

{{ define "main" }}
  {{ partial "header.html" . }}
  <section class="main links-list">
    <header class="list-header offscreen">
      <h2 class="list-label">{{ .Title }}</h2>
    </header>

    <!-- MultiLang Links -->
    {{ if (eq .Site.Params.lang "en") }}
      {{ range $.Site.Data.links }}
        <a class="link-item" href="{{ .link }}">
          <img class="link-avatar" src="{{ .avatar }}" alt="{{ .title }}">      
          <h3 class="link-title">{{ .title }}</h3>        
          <p class="link-description">{{ .description }}</p>
        </a>
      {{ end }}
    {{ else }}
      {{ range $.Site.Data.links }}
        <a class="link-item" href="{{ .link }}">
          <img class="link-avatar" src="{{ .avatar }}" alt="{{ .title }}">      
          <h3 class="link-title">{{ .titlefa }}</h3>        
          <p class="link-description">{{ .descriptionfa }}</p>
        </a>
      {{ end }}
    {{ end }}

    
  </section>
  {{ partial "footer.html" . }}
{{ end }}
