{{ define "title" }}
  Tags | {{ if isset .Site.Params "seotitle" }}{{ .Site.Params.seotitle }}{{ else }}{{ .Site.Title }}{{ end }}
{{ end }}

{{ define "main" }}
  {{ partial "header.html" . }}
  <section class="main post-detail terms-list">
    <header class="post-header">
      <h1 class="post-title">{{ .Title }}</h1>
    </header>
    <div class="tags-cloud">
      {{ $data := .Data }}
      {{ range $key, $value := $data.Terms.ByCount }}
        {{ $weight := $value.Count }}
        <a href="/{{ $.Site.Language }}/{{ $data.Plural }}/{{ $value.Name | urlize }}/" class="tag-{{ if eq $weight 1 }}s{{ else if eq $weight 2 }}m{{ else if eq $weight 4 }}l{{ else if eq $weight 8 }}xl{{ else }}xxl{{ end }}">{{ $value.Name }}</a>
      {{ end }}
    </div>
  </section>
  {{ partial "footer.html" . }}
{{ end }}
