.avatar {
  margin-top: 1rem;
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  border: 4px solid $media-border;
  box-shadow: 0 1px 4px $box-shadow-darker;
  transition: all $easing $speed;

  &:hover {
    transform: rotate(180deg);
  }

  @media screen and (max-width: $tablet) {
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: 2rem;
    height: 2rem;
    margin-top: 0;
    border: 2px solid $media-border;
  }
}

.title {
  font-size: $size-5;
  font-family: $family-lobster;
  font-weight: $weight-bold;
  margin: 1rem auto;

  @media screen and (max-width: $tablet) {
    margin-top: 3rem;
  }
}

.subtitle {
  margin-bottom: 3rem;
  opacity: 0.7;
  font-size: $size-8;
}

.menu-toggle {
  display: none;
  border: none;
  outline: none;
  width: 2rem;
  height: 2rem;
  font-size: $size-4;
  background-color: transparent;
  transition: all $easing $speed;

  @media screen and (max-width: $tablet) {
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: block;
  }
}

.site-menu {
  text-transform: capitalize;

  .menu-list {
    list-style: none;
    padding: 0;
  }

  .menu-item {
    padding: 0.5rem 0;

    a {
      display: inline-block;
      height: 1.5rem;
      line-height: 1.5;
    }
  }

  &.collapsed {
    @media screen and (max-width: $tablet) {
      max-height: 0;
    }
  }

  @media screen and (max-width: $tablet) {
    overflow-y: hidden;
    max-height: 1000px;
    transition: max-height $easing $speed;
  }
}

.social-menu {
  position: absolute;
  left: 1rem;
  right: 1rem;
  bottom: 1rem;
  font-size: 0;
  direction: ltr;

  .social-list {
    padding: 0;
    list-style: none;
    line-height: 2;
  }

  .social-item {
    display: inline-block;
    font-size: 1rem;
  }

  li + li {
    padding-left: 1rem;
  }

  
}
