<header class="site-header">
  <img class="avatar" src="{{ .Site.Params.avatar }}" alt="Avatar">
  {{  if eq .Kind "home" }}
  <h1 class="title">{{ .Site.Title }}</h1>
  {{ else }}
  <h2 class="title">{{ .Site.Title }}</h2>
  {{ end }}
  <p class="subtitle">{{ .Site.Params.subtitle }}</p>
  <button class="menu-toggle" type="button">
    <span class="icon icon-menu"></span>
  </button>
  <nav class="site-menu collapsed">
    <h2 class="offscreen">Main Menu</h2>
    <ul class="menu-list">
      {{ $type := .Type }}
      {{ $kind := .Kind }}
      {{ $currentPage := . }}

      <li class="menu-item"><a href="/{{ T "lang" }}">{{ T "home" }}</a></li>
      
      {{ range .Site.Menus.main }}
        <li class="menu-item">
            <a href="{{ .URL }}">{{ .Name }}</a>            
        </li>
      {{ end }}

      <!-- Change Language in Homepage -->
      {{ if .IsTranslated }}    
        {{ range .Translations }}
          <li class="menu-item">              
              <a href="{{ .Permalink }}"><img src="{{ .Site.Params.flag }}" width="20px" /> {{ .Site.Params.language }}</a>
          </li>
        {{ end}}
      {{ end }}
       
    </ul>
  </nav>
  <nav class="social-menu collapsed">
    <h2 class="offscreen">Social Networks</h2>
    <ul class="social-list">
      {{ if isset .Site.Params "email" }}
      <li class="social-item">
        <a href="mailto:{{ .Site.Params.email }}" title="Email"><span class="fas fa-envelope"></span></a>
      </li>{{ end }}

      {{ if isset .Site.Params "github" }}
      <li class="social-item">
        <a href="//github.com/{{ .Site.Params.github }}" title="GitHub"><span class="fab fa-github"></span></a>
      </li>{{ end }}

      {{ if isset .Site.Params "gitlab" }}
      <li class="social-item">
        <a href="//gitlab.com/{{ .Site.Params.gitlab }}" title="GitLab"><span class="fab fa-gitlab"></span></a>
      </li>{{ end }}

      {{ if isset .Site.Params "twitter" }}<li class="social-item">
        <a href="//twitter.com/{{ .Site.Params.twitter }}" title="Twitter"><span class="fab fa-twitter"></span></a>
      </li>{{ end }}

      {{ if isset .Site.Params "facebook" }}<li class="social-item">
        <a href="//www.facebook.com/{{ .Site.Params.facebook }}" title="Facebook"><span class="icon icon-facebook"></span></a>
      </li>{{ end }}

      {{ if isset .Site.Params "google" }}<li class="social-item">
        <a href="//plus.google.com/{{ .Site.Params.google }}" title="Google+"><span class="icon icon-google"></span></a>
      </li>{{ end }}

      {{ if isset .Site.Params "instagram" }}<li class="social-item">
        <a href="//www.instagram.com/{{ .Site.Params.instagram }}" title="Instagram"><span class="icon icon-instagram"></span></a>
      </li>{{ end }}

      {{ if isset .Site.Params "youtube" }}<li class="social-item">
        <a href="//www.youtube.com/user/{{ .Site.Params.youtube }}" title="YouTube"><span class="icon icon-youtube"></span></a>
      </li>{{ end }}

      {{ if isset .Site.Params "pinterest" }}<li class="social-item">
        <a href="//www.pinterest.com/{{ .Site.Params.pinterest }}" title="Pinterest"><span class="icon icon-pinterest"></span></a>
      </li>{{ end }}

      {{ if isset .Site.Params "codepen" }}<li class="social-item">
        <a href="//codepen.io/{{ .Site.Params.codepen }}" title="Codepen"><span class="icon icon-codepen"></span></a>
      </li>{{ end }}

      {{ if isset .Site.Params "linkedin" }}<li class="social-item">
        <a href="//www.linkedin.com/in/{{ .Site.Params.linkedin }}" title="Linkedin"><span class="fab fa-linkedin-in"></span></a>
      </li>{{ end }}

      <!-- <li class="social-item">
        <a href="{{ "/index.xml" | relURL }}"><span class="icon icon-rss" title="RSS"></span></a>
      </li> -->

    </ul>
  </nav>
</header>
