<!-- Site & Page Meta Data -->
{{ $gohugoio := "gohugoio" }}
{{ $avatar := "/img/iotasoft.png" }}

{{ if eq .Type "post" }}

  <!-- Page Author & Description -->
  <meta name="author" content="{{ if isset .Params "author" }}{{ .Params.author }}{{ else }}{{ .Site.Params.author }}{{ end }}" />
  
  <!-- Description for SEO -->
  <meta name="description" content="{{ if isset .Params "description"}}{{ .Params.description}}{{ else}}{{ .Site.Params.description }}{{end}}" />
  
  <!-- Canonical URL for SEO -->
  <link rel="canonical" href="http://tutorials.iotasoft.ir"/>

  <!-- Twitter Card -->
  {{ if isset .Params "cover" }}
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@{{ .Site.Params.twitter | default $gohugoio }}" />
    <meta name="twitter:title" content="{{ .Title }}" />
    <meta name="twitter:description" content="{{ if isset .Params "description"}}{{ .Params.description}}{{ else}}{{ .Site.Params.description }}{{end}}" />
    <meta name="twitter:image" content="{{ .Params.cover | absURL }}" />
  {{ else }}
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@{{ .Site.Params.twitter | default $gohugoio }}" />
    <meta name="twitter:title" content="{{ .Title }}" />
    <meta name="twitter:description" content="{{ if isset .Params "description"}}{{ .Params.description}}{{ else}}{{ .Site.Params.description }}{{end}}" />
    <meta name="twitter:image" content="{{ $avatar | absURL }}" />
  {{ end }}

  <!-- Facebook Open Graph -->
  <meta property="og:type" content="article" />
  <meta property="og:title" content="{{ .Title }}" />
  <meta property="og:description" content="{{ if isset .Params "description"}}{{ .Params.description}}{{ else}}{{ .Site.Params.description }}{{end}}" />
  <meta property="og:url" content="{{ .Permalink }}" />
  <meta property="og:image" content="{{ if isset .Params "cover" }}{{ .Params.cover | absURL }}{{ else }}{{ $avatar | absURL }}{{ end }}" />

{{ else }}

  <!-- Site Author & Description -->
  <meta name="author" content="{{ .Site.Params.author }}" />
  <meta name="description" content="{{ if isset .Params "description"}}{{ .Params.description}}{{ else}}{{ .Site.Params.description }}{{end}}" />

  <!-- Twitter Card -->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@{{ .Site.Params.twitter | default $gohugoio }}" />
  <meta name="twitter:title" content="{{ if isset .Site.Params "seotitle" }}{{ .Site.Params.seotitle }}{{ else }}{{ .Site.Title }}{{ end }}" />
  <meta name="twitter:description" content="{{ if isset .Params "description"}}{{ .Params.description}}{{ else}}{{ .Site.Params.description }}{{end}}" />
  <meta name="twitter:image" content="{{ if isset .Params "cover" }}{{ .Params.cover | absURL }}{{ else }}{{ $avatar | absURL }}{{ end }}" />

  <!-- Facebook Open Graph -->
  <meta property="og:type" content="website" />
  <meta property="og:title" content="{{ if isset .Site.Params "seotitle" }}{{ .Site.Params.seotitle }}{{ else }}{{ .Site.Title }}{{ end }}" />
  <meta property="og:description" content="{{ if isset .Params "description"}}{{ .Params.description}}{{ else}}{{ .Site.Params.description }}{{end}}" />
  <meta property="og:url" content="{{ .Permalink }}" />
  <meta property="og:image" content="{{ if isset .Params "cover" }}{{ .Params.cover | absURL }}{{ else }}{{ $avatar | absURL }}{{ end }}" />

{{ end }}

<!-- Site Generator -->
<meta name="generator" content="Hugo {{ .Hugo.Version }}" />

<!-- Permalink & RSSlink -->
<!-- <link rel="canonical" href="{{ .Permalink }}" /> -->
<link rel="alternative" href="{{ "/index.xml" | relURL }}" title="{{ .Site.Title }}" type="application/atom+xml" />

<!-- Rending Prefs -->
<meta name="renderer" content="webkit" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<meta name="format-detection" content="telephone=no,email=no,adress=no" />
<meta http-equiv="Cache-Control" content="no-transform" />

<!-- SEO Prefs -->
<meta name="robots" content="index,follow" />
<meta name="referrer" content="origin-when-cross-origin" />
{{ if isset .Site.Params "googlesiteverification" }}<meta name="google-site-verification" content="{{ .Site.Params.googleSiteVerification }}" />{{ end }}
{{ if isset .Site.Params "msvalidate" }}<meta name="msvalidate.01" content="{{ .Site.Params.msValidate }}" />{{ end }}
{{ if isset .Site.Params "baidusiteverification" }}<meta name="baidu-site-verification" content="{{ .Site.Params.baiduSiteVerification }}" />{{ end }}
{{ if isset .Site.Params "sogousiteverification" }}<meta name="sogou_site_verification" content="{{ .Site.Params.sogouSiteVerification }}" />{{ end }}
{{ if isset .Site.Params "sositeverification" }}<meta name="360-site-verification" content="{{ .Site.Params.soSiteVerification }}" />{{ end }}

<!-- Favicon and Touch icons -->
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
<meta name="apple-mobile-web-app-title" content="{{ .Site.Title }}" />
<meta name="msapplication-tooltip" content="{{ .Site.Title }}" />
<meta name='msapplication-navbutton-color' content="#5fbf5e" />
<meta name="msapplication-TileColor" content="#5fbf5e" />
<!-- meta name="msapplication-TileImage" content="{{ "/img/tile-image-windows.png" | relURL }}" / -->
<link rel="icon" href="{{ "/img/favicon.ico" | relURL }}" />
<!-- link rel="icon" type="image/png" sizes="16x16" href="{{ "/img/favicon-16x16.png" | relURL }}" />
<link rel="icon" type="image/png" sizes="32x32" href="{{ "/img/favicon-32x32.png" | relURL }}" / -->
<!-- link rel="icon" sizes="192x192" href="{{ "/img/touch-icon-android.png" | relURL }}" />
<link rel="apple-touch-icon" href="{{ "/img/touch-icon-apple.png" | relURL }}" />
<link rel="mask-icon" href="{{ "/img/safari-pinned-tab.svg" | relURL }}" color="#5fbf5e" / -->

<!-- Styles -->
<!-- {{ if ne .Kind "home" }}
<link rel="stylesheet" href="//cdn.bootcss.com/video.js/6.2.8/alt/video-js-cdn.min.css" />
{{ end }} -->

<!-- Load CSS Files -->
{{ if (isset .Site.Params "lang")}}   
  <link rel="stylesheet" href="{{ "/css/style.css" | relURL }}" /> 
{{ else }}    
  <link rel="stylesheet" href="{{ "/css/style-rtl.css" | relURL }}" />
{{ end }}

<link href="{{ "/css/fontawesome-all.min.css" }}" rel="stylesheet">